* {
	color: #eeeeee;
	font-family: "Roboto", sans-serif;
}

.container {
	max-width: 50em;
	margin: auto;
	margin-bottom: 100px;
	margin-top: 100px;
}

.fp-prev {
	left: 0 !important;
}
.fp-next {
	right: 0 !important;
}

#header {
	position: fixed;
	display: block;
	width: 100%;
	background: black;
	/*color: white;*/
	z-index: 9;
	text-align: center;
	color: #cccccc;
}

ul {
	list-style-type: none;
	margin: 8px 0;
	padding: 0;
}
li {
	display: inline-block;
	vertical-align: middle;
}
li a {
	display: block;
	text-decoration: none;
	color: white;
	padding: 8px;
}
li.active a {
	background-color: #2c2c2c;
}
li h1 {
	padding: 0;
	margin: 0;
}
.heading {
	font-size: 3em;
	margin: 0.25em 0;
}
h3.heading, h2.heading {
	font-size: 1.75em;
	margin: 0.25em 2%;
}
p {
	font-size: 1.1em;
	margin: 0 4%;
}

div.sliderer {
	animation-name: sliderer;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	width: 100%;
	background-image: url("images/SubwayGuesser.png");
	background-repeat: no-repeat;
	background-position: top center;
	height: 20em;
	margin: 2% 0;
}
@keyframes sliderer {
	0% {background-image: url("images/SubwayGuesser.png");}
	33% {background-image: url("images/Magic8Ball.png");}
	66% {background-image: url("images/Tungsten.png"); background-position: center center;}
	100% {background-image: url("images/SubwayGuesser.png"); background-position: top center;}
}

div.pannerer {
	animation-name: pannerer;
	animation-duration: 15s;
	animation-iteration-count: infinite;
	width: 100%;
	background-repeat: no-repeat;
	background-position: top center;
	height: 20em;
	margin: 2% 0;
}
@keyframes pannerer {
	0% {background-position: top center;}
	50% {background-position: bottom center;}
	100% {background-position: top center;}
}
#big {
	font-size: 100px;
	vertical-align: 20%;
}
#magic8ball { background-image: url("images/Magic8Ball.png"); }
#subwayguesser { background-image: url("images/SubwayGuesser.png"); }
#drawanim { background-image: url("images/DrawAnim.png"); }
#gazingrainbow { background-image: url("images/GazingRainbow.gif"); }
#tungsten { background-image: url("images/Tungsten.png"); }
#ballsncubes {
	background-image: url("images/ballsncubes.png");
	background-size: cover;
}
#torturebaby { background-image: url("images/torturebaby.png"); }
#pic2017 { background-image: url("images/pic2017.png"); }
#news { background-image: url("images/news.png"); }
#worksux { background-image: url("images/worksux.png"); }
#song { background-image: url("images/song.png"); }
#AstronomyQuiz { background-image: url("images/AstronomyQuiz.png"); }
#snake { background-image: url("images/snake++.png"); }
#editingtool { background-image: url("images/editingtool.png"); }
#firsteverrice { background-image: url("images/workingFullscreen.png"); }
#erlhumtim { background-image: url("images/erlhumtim.png"); }
#the-jungle { background-image: url("images/the-jungle.png"); }
#discordbot { background-image: url("images/discordbot.png"); }
#qdb-api { background-image: url("images/qdb-api.png"); }
