#e {
	background-color:green;
	color:darkred;
}
#m {
	background-color:yellow;
	color:purple;
}
#s {
	background-color:blue;
	color:chocolate;
}
#a {
	background-color:red;
	color:green;
}
#c {
	background-color:black;
	color:white;
}
